$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light-gray: #f2f2f2;
$dark-gray: hsl(0, 2%, 90%);
$button-text-color: white;
$button-shadow-color: #9933FF;
$cards-hover-color: #f0e0f0;
$hearts-hover-color: #bf70df;
$new-box-text: rgb(16, 136, 16);
$footer-background: rgba(32, 35, 43, 0.89);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin new-box {
  background-color: $tertiary-color;
  color: $new-box-text;
  font-weight: bold;
  border-radius: 3px;
  height: 5vh;
  width: 24vw;
  position: relative;
  text-align: center;
  top: 10vh;
  left: 66vw;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: -50px;
}

@mixin media-xl {
  @media screen and (min-width: 992px) {
      @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 768px) {
      @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 300px) {
      @content;
  }
}