@include media-lg {
  .restaurants__card a .new-box {
    margin-top: -51px;
    top: 8vh;
  }
}

@include media-sm {
  .presentation-block__card a {
    width: 39vh;

    i {
      padding: 0 5px;
    }
  }
}

@include media-xl {
  h2 {
    text-align: center;
  }

  .restaurants__card a {
    width: 60vw;
    height: 60vh;

    img {
      height: 50vh;
    }

    .new-box {
      width: 10vw;
      left: 48vw;
    }

    i {
      left: 55vw;
      top: -2vh;
    }
  }

  .footer-block {
    align-items: center;
  }

  .menu-block__title {
    margin: 0 4vw;
  }

  .main-menu-block {
    margin: 0 5vw;
  }

  .menu-section h2 {
    padding: 0 5vw;
  }
}
