@include media-lg {
  .restaurants__card a .new-box {
    margin-top: -51px;
    top: 8vh;
  }
}

@include media-sm {
  .presentation-block__card a {
    width: 39vh;

    i {
      padding: 0 5px;
    }
  }
}

@include media-xl {
  h2 {
    text-align: center;
  }

  .restaurants {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .restaurants h2 {
    width: 100%;
  }

  .restaurants__card a {
    width: 35vw;
    height: 40vh;

    img {
      height: 30vh;
    }

    .new-box {
      width: 10vw;
      left: 23vw;
    }

    i {
      left: 30vw;
      top: -2vh;
    }
  }

  .footer-block {
    align-items: center;
  }

  .menu-block__title {
    margin: 0 15vw;

    i {
      margin-right: -4vw;
    }
  }

  .main-menu-block {
    margin: 0 15vw;
  }

  .menu-section h2 {
    padding: 0 15vw;
  }

  .menu-section__block .menu-description {
    font-size: 1.2rem;

    h3 {
      line-height: 2rem;
    }
  }

  .menu-section__block .text-block {
    line-height: 2rem;
  }
}