@import 'config';
@import 'home';
@import 'responsive';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

header a img {
  display: block;
  margin: auto;
  padding: 15px;
}

button {
  color: $button-text-color;
  background-color: $secondary-color;
  border: none;
  border-radius: 50px;
  padding: 18px 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
  inset 0 -30px 35px -20px $button-shadow-color;
  transition: 0.9s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5),
    inset 0 -20px 30px -10px $button-shadow-color;
  }
}

footer {
  background-color: $footer-background;
  color: white;
  padding-bottom: 20px;

  .footer-block {
    display: flex;
    flex-flow: column wrap;
    padding: 15px 0 15px 30px;

    ul {
      list-style-type: none;
    }
  }
  
  h1 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  a {
    color: white;
    text-decoration: none;
    line-height: 2rem;
    
    .fas.fa-hands-helping {
      font-size: 0.8rem;
    }

    i {
      padding-right: 10px;
    }
  }
}