@import 'config';
@import 'home';

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Shrikhand', cursive;
}

header a img {
  display: block;
  margin: auto;
  padding: 20px;
}

button {
  color: white;
  background-color: $secondary-color;
  border: none;
  border-radius: 25px;
}