@import 'config';
@import 'home';
@import 'responsive';
@import 'the-full-palette';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

header a img {
  display: block;
  margin: auto;
  padding: 15px;
}

button {
  color: lighten($secondary-color, 100);
  background-color: lighten($primary-color, 5);
  border: none;
  border-radius: 50px;
  padding: 18px 25px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
  inset 0 20px 40px -15px darken($secondary-color, 10);
  transition: 0.9s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5),
    inset 0 20px 40px -15px lighten($secondary-color, 5);
  }
}

footer {
  background-color: darken($main-background, 30);
  color: lighten($main-background, 100);
  padding-bottom: 20px;

  .footer-block {
    display: flex;
    flex-flow: column wrap;
    padding: 15px 0 15px 30px;

    ul {
      list-style-type: none;
    }
  }
  
  h1 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  a {
    color: lighten($main-background, 100);
    text-decoration: none;
    line-height: 2rem;
    
    .fas.fa-hands-helping {
      font-size: 0.8rem;
    }

    i {
      padding-right: 10px;
    }
  }
}
